<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='MyDesign1.css') }}">
    <title>Barangay Complaint System</title>
</head>
<body>
    <div class="Home">
        <img src="{{ url_for('static', filename='homeBG.png') }}" alt="HomeBG">
    </div>

    <div class="content">
        <h1>YOUR VOICE MATTERS</h1>
        <button>
            <a href="{{ url_for('login_page') }}">Login as Admin</a>
        </button>

        <div class="form">
        <button>
            <a href="{{ url_for('form_page') }}">Submit Complaint</a>
        </button>
        
        <div class="motto">
            <h1>Building a Better Barangay, One Complaint at a Time.</h1>
        </div>
    </div>
</body>
</html>
